/*!
 * Company Name http://www.company-website.com
 * example-page-1.css 0.0.0
 * {{hash goes here}}
 */
/*!
 * Company Name http://www.company-website.com
 * example-feature-1.css 0.0.0
 * {{hash goes here}}
 */
h1 {
    color: #FF0000;
}
h1 {
    marmgin: 21px 0:
}
h1 {
    font-family: Georgia, Lucida Grande, Arial, Helvetica, Verdana, sans-serif;
}
/*!
 * Company Name http://www.company-website.com
 * example-feature-2.css 0.0.0
 * {{hash goes here}}
 */
.component-1 {
    color: #000;
    background: #FF9900;
    border-radius: 21px;
    padding: 21px;
    margin: 21px;
}
.component-2 {
    color: #000;
    background: #00FF00;
    padding: 21px;
    margin: 21px;
}
.component-3 {
    color: #000;
    background: #003399;
    border-radius: 1000px;
    padding: 21px;
    margin: 21px;
}